<div class="jumbotron">
  <h1>All Contacts</h1>

  <div class="list-group">
    <% @contacts.each() do |contact| %>
    <a class="list-group-item" href="/contacts/<%= contact.id() %>"><h3><%= contact.first() %> <%= contact.last() %></h3></a>
    <% end %>
  </div>

  <p>
    <a type="button" href="/" class="btn btn-lg btn-success">Return Home</a>
    <a type="button" href="/contacts/new" class="btn btn-lg btn-warning">Create New Contact</a>
  </p>

</div>
