<div class="jumbotron">
  <h1>What Would You Like to Do?</h1>
  <p>
    <a type="button" href="/contacts" class="btn btn-lg btn-success">View All Contacts</a>
    <a type="button" href="/contacts/new" class="btn btn-lg btn-warning">Create New Contact</a>
  </p>
</div>
